@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
body,
html {
  font-family: "Overpass", "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  overflow-x: hidden;
  margin: 0;
}

body *,
html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  font-size: 1.8em;
  background-color: #ff525d;
  background-image: url("./images/bg-pattern-intro.svg");
  background-position: -550px -450px;
  background-repeat: no-repeat;
  background-size: 1800px;
  border-radius: 0 0 0 80px;
  font-weight: 700;
}

.b__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 30px 20px;
}

.b__nav .b__navMenuButtonContainer {
  right: 10px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.b__nav .b__navMenuButton {
  outline: 0;
  border: 0;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 20px;
  background-image: url("./images/icon-hamburger.svg");
}

.b__nav .b__navMenuButtonIconClosed {
  background-image: url("./images/icon-close.svg");
}

.b__nav .b__navMenu {
  position: absolute;
  margin-top: 50px;
  right: 2.5vw;
  width: 90vw;
  height: 80vh;
  padding: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 20px 0 #c8c8cb;
          box-shadow: 0 5px 20px 0 #c8c8cb;
  list-style: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 0.5em;
  font-weight: 700;
  background-color: white;
  color: #1f3f5b;
}

.b__nav .b__navMenuItem {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.b__nav .b__navMenuItemButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.b__nav .b__navMenuItemButtonIcon {
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background-size: contain;
  background: url("./images/icon-arrow-dark.svg") center no-repeat;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.b__nav .b__navSubMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
  background-color: rgba(200, 200, 203, 0.2);
  width: 100%;
  margin-top: 20px;
}

.b__nav .b__navSubMenuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 10px 0;
}

.b__nav .b__navSubMenuButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.b__nav .b__navSubMenuItemButton {
  text-align: center;
  font-size: 1.2em;
}

.b__nav .b__subLink {
  font-size: 1em;
}

.b__nav .b__navMenuDivider {
  width: 100%;
  height: 1px;
  background-color: #c8c8cb;
  margin: 20px 0;
}

.b__nav .b__navMenuLoginButton {
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 25px;
  color: #4b5862;
}

.b__nav .b__navMenuSignUpButton {
  padding: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  border-radius: 25px;
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.b__nav .b__navMenuClosed {
  height: 0;
}

.b__nav .b__navMenuItemButtonIconClosed {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.b__bannerContainerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 80px;
  padding: 0 10px;
  color: white;
}

.b__bannerContainerButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.b__bannerContainerHeader {
  margin: 0;
}

.b__bannerContainerSubHeader {
  font-size: 0.6em;
  font-weight: 300;
}

.b__bannerContainerButton {
  padding: 15px 20px;
  border-radius: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  font-weight: 700;
  margin: 0 10px;
  font-size: 0.5em;
  color: white;
}

.b__bannerContainerButton:hover {
  background-color: white;
  color: #ff525d;
}

.b__sectionMainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  font-weight: 700;
  color: #4b5862;
}

.b__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4b5862;
}

.b__section .b__sectionHeader {
  font-weight: 700;
  font-size: 2em;
}

.b__section .sectionImage {
  height: 300px;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.b__section .sectionImageLaptop {
  background-image: url("/images/illustration-laptop-mobile.svg");
}

.b__section .sectionImageEditor {
  background-image: url("./images/illustration-editor-mobile.svg");
}

.b__section .b__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.b__section .b__group .b__text {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b__section .b__group .b__text .b__sectionHeader {
  font-weight: 700;
}

.b__section .b__group .b__text .b__sectionContent {
  margin-top: 10px;
  width: 80%;
}

.b__artSection {
  margin-top: 30vh;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 50px 0 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background: linear-gradient(to bottom, #2c2d3f, #3f4164);
}

.b__artSectionBackground {
  display: block;
  background-image: url("./images/bg-pattern-circles.svg");
  background-size: 500px;
  background-position: -80px -200px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}

.b__artSectionBackgroundLayerPhones {
  display: block;
  background-image: url("./images/illustration-phones.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100vw;
  -webkit-transform: translateY(-100px) scale(1.8);
          transform: translateY(-100px) scale(1.8);
}

.b__artSectionBackgroundInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.b__artSectionBackgroundInfoHeader {
  font-size: 1.5em;
  color: white;
}

.b__artSectionBackgroundInfoDetails {
  text-align: center;
  height: 100px;
  line-height: 2em;
  font-size: 0.9em;
  color: #c8c8cb;
}

.b__footerContainer {
  overflow: hidden;
  border-radius: 0 100px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #25252d;
  color: white;
  padding: 20px 0 50px 0;
}

.b__footerContainerTitle {
  font-size: 2em;
}

.b__footerList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 15px;
}

.b__footerItem {
  margin: 2px 0;
  color: #c8c8cb;
}

.b__footerLink {
  color: unset;
  text-decoration: none;
}

.b__desktopNav {
  display: none;
}

@media (min-width: 400px) {
  .b__header {
    height: 70vh;
    padding: 0;
    margin: 0;
  }
  .b__mobileNav {
    display: none;
  }
  .b__desktopNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20vh;
    color: white;
    font-size: 0.7em;
    padding: 0;
    margin: 0;
  }
  .b__desktopNav .b__desktopNavLogo {
    margin-left: 80px;
    font-size: 2em;
  }
  .b__desktopNav .b__desktopNavLinksList {
    list-style: none;
    padding: 0;
    margin-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .b__desktopNav .b__desktopNavLinkListItem {
    position: relative;
    margin-left: 10px;
  }
  .b__desktopNav .b__desktopNavLinkIcon {
    background: url("./images/icon-arrow-light.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
  .b__desktopNav .b__desktopNavLink {
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 0;
    outline: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .b__desktopNav .b__desktopNavButtonsList {
    position: absolute;
    right: 1.2vw;
    list-style: none;
    font-size: 0.7em;
    font-weight: 700;
    margin-right: 80px;
  }
  .b__desktopNav .b__desktopNavMenuLoginButton {
    padding: 10px 20px;
    text-align: center;
  }
  .b__desktopNav .b__desktopSubNavLinksList {
    position: absolute;
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .b__desktopNav .b__desktopSubNavLinkListItem {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    font-size: 0.8em;
  }
  .b__desktopNav .b__desktopSubNavLink {
    background-color: #c8c8cb;
    width: 100%;
    text-align: center;
    padding: 5px 2px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
  }
  .b__desktopNav .b__desktopNavMenuSignUpButton {
    padding: 10px 20px;
    background: white;
    border-radius: 25px;
    color: #ff525d;
    text-align: center;
  }
  .b__desktopNav .b__desktopNavMenuOpened {
    height: 300px;
  }
  .b__desktopNav .b__desktopNavOpenedLinkIcon {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .b__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .b__section .sectionImage {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    height: 786px;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .b__section .sectionImageLaptop {
    background-image: url("./images/illustration-laptop-desktop.svg");
  }
  .b__section .sectionImageEditor {
    background-image: url("./images/illustration-editor-desktop.svg");
  }
  .b__section .b__sectionMainHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    margin: 50px 0;
    background-color: aqua;
    text-align: center;
  }
  .b__section .b__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
  .b__section .b__group .b__text {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .b__section .b__group .b__text .b__sectionHeader {
    font-weight: 700;
  }
  .b__section .b__group .b__text .b__sectionContent {
    margin-top: 10px;
    width: 80%;
  }
  .b__artSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
  .b__artSection .b__artSectionBackgroundLayerPhones {
    width: 552px;
    height: 579px;
    -webkit-transform: unset;
            transform: unset;
    z-index: 10;
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
  }
  .b__artSection .b__artSectionBackgroundInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
  .b__artSection .b__artSectionBackgroundInfoHeader {
    font-size: 1.5em;
    color: white;
  }
  .b__artSection .b__artSectionBackgroundInfoDetails {
    text-align: center;
    height: 100px;
    line-height: 2em;
    font-size: 0.9em;
    color: #c8c8cb;
  }
  .b__footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    padding: 20px;
  }
  .b__footerContainer .b__footerListHeader {
    margin-bottom: 20px;
  }
  .b__footerContainer .b__group {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=styles.css.map */