@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
$primary-1: hsl(356, 100%, 66%);
$primary-2: hsl(355, 100%, 74%);
$primary-3: hsl(208, 49%, 24%);
$neutral-1: hsl(0, 0%, 100%);
$neutral-2: hsl(240, 2%, 79%);
$neutral-3: hsl(207, 13%, 34%);
$neutral-4: hsl(240, 10%, 16%);
$gradient-1: hsl(13, 100%, 72%);
$gradient-2: hsl(353, 100%, 62%);
$gradient-3: hsl(237, 17%, 21%);
$gradient-4: hsl(237, 23%, 32%);

body,
html {
  font-family: "Overpass", "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  overflow-x: hidden;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

.b__page {
  display: flex;
  flex-direction: column;
}
.b__header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80vh;
  font-size: 1.8em;
  background-color: $primary-1;
  background-image: url("./images/bg-pattern-intro.svg");
  background-position: -550px -450px;
  background-repeat: no-repeat;
  background-size: 1800px;
  border-radius: 0 0 0 80px;

  font-weight: 700;
}
.b__nav {
  display: flex;
  align-items: center;
  color: $neutral-1;
  padding: 30px 20px;
  .b__navTitle {
  }
  .b__navMenuButtonContainer {
    right: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
  }
  .b__navMenuButton {
    outline: 0;
    border: 0;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 20px;
    background-image: url("./images/icon-hamburger.svg");
  }
  .b__navMenuButtonIconClosed {
    background-image: url("./images/icon-close.svg");
  }
  // Nav Container

  .b__navMenu {
    position: absolute;
    margin-top: 50px;
    right: 2.5vw;
    width: 90vw;
    height: 80vh;
    padding: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 $neutral-2;
    list-style: none;
    transition: all 1s ease;
    font-size: 0.5em;
    font-weight: 700;
    background-color: $neutral-1;
    color: $primary-3;
  }

  .b__navMenuItem {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .b__navMenuItemButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .b__navMenuItemButtonIcon {
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-size: contain;
    background: url("./images/icon-arrow-dark.svg") center no-repeat;
    transition: transform 300ms ease;
  }
  .b__navSubMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    transition: height 300ms ease;
    background-color: rgba($neutral-2, 0.2);
    width: 100%;
    margin-top: 20px;
  }
  .b__navSubMenuItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }

  .b__navSubMenuButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .b__navSubMenuItemButton {
    text-align: center;
    font-size: 1.2em;
  }
  .b__subLink {
    font-size: 1em;
  }
  .b__navMenuDivider {
    width: 100%;
    height: 1px;
    background-color: $neutral-2;
    margin: 20px 0;
  }
  .b__navMenuLoginButton {
    padding: 15px;
    text-align: center;
    font-size: 1.2em;

    border-radius: 25px;
    color: $neutral-3;
  }
  .b__navMenuSignUpButton {
    padding: 15px;
    background: linear-gradient(to right, $gradient-1, $gradient-2);
    border-radius: 25px;
    color: $neutral-1;
    font-size: 1.2em;

    text-align: center;
  }
  .b__navMenuClosed {
    height: 0;
  }
  .b__navMenuItemButtonIconClosed {
    transform: rotate(-180deg);
  }
}

//  Section 1

.b__bannerContainerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  padding: 0 10px;
  color: $neutral-1;
}

.b__bannerContainerButtons {
  display: flex;
}

.b__bannerContainerHeader {
  margin: 0;
}

.b__bannerContainerSubHeader {
  font-size: 0.6em;
  font-weight: 300;
}
.b__bannerContainerButton {
  padding: 15px 20px;
  border-radius: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid $neutral-1;
  font-weight: 700;
  margin: 0 10px;
  font-size: 0.5em;
  color: $neutral-1;
}
.b__bannerContainerButton:hover {
  background-color: $neutral-1;
  color: $primary-1;
}

// Section 2

.b__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $neutral-3;
}
.b__sectionHeader {
  font-size: 1.5em;
}
.b__sectionImgContainer {
  height: 300px;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.b__sectionContent {
  text-align: center;
  width: 80%;
}

// Section 3

.b__artSection {
  margin-top: 30vh;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0 20% 0 20%;
  background: linear-gradient(to bottom,$gradient-3,$gradient-4);

}
.b__artSectionBackground{display: block;
  background-image: url("./images/bg-pattern-circles.svg");
  background-size: 500px;
  background-position:-80px -200px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;

}
.b__artSectionBackgroundLayerPhones {
  display: block;
  background-image: url("./images/illustration-phones.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100vw;
  transform: translateY(-100px) scale(1.8);
}

.b__artSectionBackgroundInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.b__artSectionBackgroundInfoHeader {
  font-size: 1.5em;
  color: $neutral-1;
}
.b__artSectionBackgroundInfoDetails {
  text-align: center;
  height: 100px;
  line-height: 2em;
  font-size: 0.9em;
  color: $neutral-2;
}

.b__footerContainer {
  overflow: hidden;
  border-radius: 0 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:linear-gradient(to bottom,$gradient-3,$gradient-4);
}
.b__footerContainerTitle {
  font-size: 1.8em;
}
.b__footerList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.b__footerItem {
  margin: 2px 0;
}
.b__footerLink {
  color: unset;
  text-decoration: none;
}
.b__desktopNav {
  display: none;
}

@media (min-width: 400px) {
  .b__header {
    height: 60vh;
    padding: 0;
    margin: 0;
  }
  .b__mobileNav {
    display: none;
  }
  .b__desktopNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
    color: $neutral-1;
    font-size: 0.7em;
    padding: 0;
    margin: 0;
  }
  .b__desktopNavLogo {
    margin-left: 80px;
  }
  .b__desktopNavLinksList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .b__desktopNavLinkListItem {
    position: relative;
    margin-left: 10px;
  }
  .b__desktopNavLinkIcon {
    background: url("./images/icon-arrow-light.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
  .b__desktopNavLink {
    text-decoration: none;
    color: $neutral-1;
    background-color: transparent;
    border: 0;
    outline: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .b__desktopNavButtonsList {
    position: absolute;
    right: 1.2vw;
    list-style: none;
    font-size: 0.7em;
    font-weight: 700;
    margin-right: 80px;
  }
  .b__desktopNavMenuItem {
  }
  .b__desktopNavMenuLoginButton {
    padding: 10px 20px;
    text-align: center;
  }
  .b__desktopSubNavLinksList {
    position: absolute;
    width: 20vw;
    background-color: $neutral-1;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
  }
  .b__desktopSubNavLinkListItem {
  }
  .b__desktopSubNavLink {
  }
  .b__desktopNavMenuSignUpButton {
    padding: 10px 20px;
    background: $neutral-1;
    border-radius: 25px;
    color: $primary-1;
    text-align: center;
  }
  .b__desktopNavMenuOpened {
    height: 10vh;
    min-height: fit-content;
    max-height: 800px;
  }
  .b__desktopNavOpenedLinkIcon {
    transform: rotate(180deg);
  }
}
